@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using MotorKontor.UI.Data
@inject WeatherForecastService ForecastService

<AuthorizeView>
    <Authorized>
        
}
    </Authorized>
    <NotAuthorized>
        <span>Do you see this u unauthorized fag?!</span>
    </NotAuthorized>
</AuthorizeView>


@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
